html {
  background-color: aqua;
}
body {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.container {
  background-color: lightblue;
  padding: 10px;
  border: 1px solid black;
}
.output {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  background-color: grey;
}
.table {
  padding: 10px;
  border: 1px solid black;
}
.firstArray {
  padding: 10px;
  border: 1px solid black;
}
button {
  background-color: rgb(89, 89, 230);
}
